<body ng-app="foursquare">
	
<section data-ng-controller="MainSearchController" data-ng-init="loadAll()">
	<h1>Great pick!</h1>
	
	<section class="cards" no-scroll>
	<ion-pane ng-controller="CardsCtrl">
		<ion-header-bar class="bar-default">
			<h1 class="title">TD Cards</h1>
		</ion-header-bar>

		<td-cards>
			<td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
				<div class="image" ng-controller="CardCtrl">
					<div class="no-text">NOPE</div>
					<img ng-src="{{card.image}}">
					<div class="yes-text">LIKE</div>
				</div>
			</td-card>
		</td-cards>
	</ion-pane>
</section>
	
	
	<div id="photos-cont">
		<div class="photo-box" ng-repeat="photo in photos">
			<div class="photo-box">
				<img src="{{ photo.url }}">
				{{photo.vName}} {{photo.vRating}}
			</div>
		</div>
		<div class="animate-repeat" ng-if="photos.length == 0">
      <strong>No results found...</strong>
    </div>
	</div>
	
	<input type="search" ng-model="q" placeholder="filter venues..." />
	<div id="venues-cont">
		<div class="animate-repeat venue venueInfo" ng-repeat="venue in venues | filter:q">
			<div class="venueInfo">				
				<div class="venueName">
					<a ng-if="venue.url !== undefined" href="{{venue.url}}">{{venue.name}}</a>
					<span ng-if="venue.url == undefined">{{venue.name}}</span>
				</div>
				<div class="address">
					{{venue.address.join(" ")}} 
				</div>
			</div>
    </div>
		
    <div class="animate-repeat" ng-if="venues.length == 0">
      <strong>No results found...</strong>
    </div>
	</div>
	
</section>


</body>